BOT_TOKEN="bottoken"
WEBHOOK_URL=""
SECRET_KEY="secret-key"
PARTNER_LINK="your-exness-affiliate-partnerlink"
BEGINNERS_GROUP_LINK=""
ADVANCED_GROUP_LINK="Advance-group-link"
INNER_CIRCLE_LINK="Inner-circle-group-link"
MENTOR_NAME="1BigMarathon"
MENTOR_CONTACT="mentor-telegram-link"
VIP_PRICE="$200"
ADMIN_USERNAME="telegram-username"
ADMIN_CHAT_ID="telegram-user-id"
DB_PATH="/app/data/mentor_name.db"
MISE_PYTHON_GITHUB_ATTESTATIONS="false"
DEBUG="false"
DIFFERENT_BROKER_PRICE=$35
SIGNAL_PRICE_1MONTH=$15
SIGNAL_PRICE_2MONTH=$25
SIGNAL_PRICE_6MONTH=$50
SIGNAL_PRICE_1YEAR=$100
PAYMENT_DETAILS=Bank: Your Bank Name\nAccount Name: Your Name\nAccount Number: 0000000000\n Mobiele Money: Your Mobile Money Name\nMobile Money Number: 0000000000\n USDT-TRC20: Your USDT-TRC20 Address\nUSDT-BEP20: Your USDT-BEP20 Address
VIP_ONE_ON_ONE_PRICE=$1200
VIP_GROUP_PRICE=$250
VIP_ONE_ON_ONE_PAYMENT_LINK=https://fapshi.com
VIP_GROUP_PAYMENT_LINK=https://fapshi.com